
body{
 box-sizing: border-box;
}

.box-sizing-border-box{
    box-sizing: border-box;
}

.side-nav{
    height: 100vh;
    padding: 0px;
}

.container-menu{
    width: 250px;
}

.menu{
    height: 100%;
}

.menu-item{
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
    border-bottom: gray solid 1px;
}

.menu-item a{
    color: gray;
    shadow: 1px;
}

.no_border{
    border: none;
    padding: 0px;
    margin: 0px;
}

.card{
}

.card-item{
     margin: 0;
     padding: 0;
 }

.no-gutter-row {
   margin-right: 0;
   margin-left: 0;
}

.no-gutter-col {
  padding-right: 0;
  padding-left: 0;
}